// *{
//     margin: 0;
//     padding: 0;
// }
#parent{
    background: #000;
    position: absolute;
    left: 100px;
    height: 200px;
    padding: 20px;
    #box{
        background: #00F;
        p{
            color: #fff;
            padding: 20px;
            margin-top: 10px;
            border: 1px solid #F00;
        }
    }
}
