*{
    margin: 0;
    padding: 0;
}
#parent{
    width:100%;
    height: 200px;
    #box{
        p{
            background: antiquewhite;
            padding: 20px;
            margin-top: 10px;
        }
        a{
            background: aqua;
            display: inline-block;
            width: 100px;
            height: 100px;
        }
    }
}
html,body{
    height: 100%;
}
iframe{
    margin-top: 100px;
    margin-left: 100px;
    border: 1px double #F00;
    width: 100%;
    height: 100%;
}

