// *{
//     margin: 0;
//     padding: 0;
// }
#parent{
    background: #000;
    position: absolute;
    left: 100px;
    height: 200px;
    padding: 20px;
    #box{
        background: url('https://repository-images.githubusercontent.com/190535750/1118bd00-cf09-11e9-8055-5dfdeb036e47');
        p{
            color: #fff;
            padding: 20px;
            margin-top: 10px;
            border: 1px solid #F00;
        }
    }
}
