
$name : 'clickdom';

.#{$name}-box{
    z-index   : 999;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .25);
    transition: transform .3s;
    min-width: 300px;
    transform: scale(0);
    min-height: 30px;
    ##{$name}-title{
        width: 100%;
        background: #fff;
        padding: .3rem .3rem .3rem .8rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        border-bottom-style: ridge;
        border-bottom-width: 1px;
        border-bottom-color: bisque;
        display: flex;
        justify-content: space-between;
        >.#{$name}-btn{
            background: none;
            background: #fff;
            border: none;
            width: 2rem;
            height: 2rem;
            z-index: 1000;
            transition: box-shadow .5s;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(0, 0, 0, .25);
            cursor: pointer;
            position: absolute;
            top: -1rem;
            right: -1rem;
            &:hover{
                box-shadow: 0 0 10px rgba(0, 0, 0, .25);
            }
            &:focus{
                outline: none;
            }
            &:active{
                transform: scale(.9);
                box-shadow: 0 0 15px rgba(0, 0, 0, .5);
            }
        }
        
    }
    .#{$name}-body{
        border:none;
        background: #fff;
        width: 100%;
        height: auto;
        word-wrap:break-word;
        padding: .5rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        >.body-left{
            width: 100%;
            ul{
                li{
                    width: 100%;
                    height: inherit;
                }
            }
        }
        >.body-right{
            width: 2rem;
            ul>li{
                width: 2rem;
                height: 2rem;
                margin-bottom: 1rem;
            }
        }
        ul{
            overflow: hidden;
            list-style: none;
            height: 100%;
        }
    }
}

.#{$name}-show{
    transform: scale(1);
}
